*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family:sans-serif;
    background-color: #ccc;
    position:relative;
    color:#414535;
}

.container{
    max-width:700px;
    margin:0 auto;
    padding:20px;
}

/* searching section */

.searching-section{
    background-color: #96bbbb;
    border:1px soli #618985;
    border-radius: 5px;
    padding:20px;
}

.title{
    padding-bottom:20px;
    text-align:center;
}

#city{
    background-color: white;
    border: darkgray 1px solid;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    width:100%;
}

#search{
    text-transform: uppercase;
    background-color: #618985;
    color:white;
    border-radius: 5px;
    padding:10px;
    width:100%;
    border: none;
    -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
    box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.75);
}

/* data section */

.error-message{
    padding:20px 10px;
    color:#666;
    margin:20px 0;
    background-color: #c19875;
    border-radius: 5px;
}

.weather-information{
    background-color: #f2e3bc;
    padding:20px;
    border-radius: 5px;
    margin:15px 0;
}

.city-name{
    text-align:center;
    margin-bottom:20px;
}

.content{
    display:grid;
    grid-template-columns: 1fr 3fr;
}

.weather-icon{
    width:100%;
    height:100%;
    object-fit: cover;
}

/* error section */
.error-loading{
    margin-top:20px;
    color: orangered;
}